<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4442cd84-5794-44e3-971c-2ca9127ea037/resourcegroups/ManicureEmCasaApi20180225055850ResourceGroup/providers/Microsoft.Web/sites/ManicureApi</ResourceId>
    <ResourceGroup>ManicureEmCasaApi20180225055850ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://manicureapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>manicureapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ManicureApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ManicureApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ManicureApiContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:manicureapidbserver.database.windows.net,1433;Initial Catalog=ManicureApi_db;User ID=jaqueline@manicureapidbserver;Password=j@qUe7509" Name="Data Source=tcp:manicureapidbserver.database.windows.net,1433;Initial Catalog=ManicureApi_db;User Id=jaqueline@manicureapidbserver;Password=j@qUe7509" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ManicureApi.Models.ManicureApiContext, ManicureApi" MigrationConfiguration="ManicureApi.Migrations.Configuration, ManicureApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ManicureApiContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:manicureapidbserver.database.windows.net,1433;Initial Catalog=ManicureApi_db;User Id=jaqueline@manicureapidbserver;Password=j@qUe7509</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>