<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4442cd84-5794-44e3-971c-2ca9127ea037/resourcegroups/ManicureEmCasaApi20180225055850ResourceGroup/providers/Microsoft.Web/sites/ManicureEmCasaApi20180225055850</ResourceId>
    <ResourceGroup>ManicureEmCasaApi20180225055850ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://manicureemcasaapi20180225055850.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>manicureemcasaapi20180225055850.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ManicureEmCasaApi20180225055850</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ManicureEmCasaApi20180225055850</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ManicureEmCasaContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:manicureemcasaapi20180225055850dbserver.database.windows.net,1433;Initial Catalog=ManicureEmCasaApi20180225055850_db;User ID=jaqueline@manicureemcasaapi20180225055850dbserver;Password=j@qUe7509" Name="Data Source=tcp:manicureemcasaapi20180225055850dbserver.database.windows.net,1433;Initial Catalog=ManicureEmCasaApi20180225055850_db;User Id=jaqueline@manicureemcasaapi20180225055850dbserver;Password=j@qUe7509" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ManicureEmCasaApi.Models.ManicureEmCasaContext, ManicureEmCasaApi" MigrationConfiguration="ManicureEmCasaApi.Migrations.Configuration, ManicureEmCasaApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ManicureEmCasaContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:manicureemcasaapi20180225055850dbserver.database.windows.net,1433;Initial Catalog=ManicureEmCasaApi20180225055850_db;User Id=jaqueline@manicureemcasaapi20180225055850dbserver;Password=j@qUe7509</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AppointmentContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:manicureemcasaapi20180225055850dbserver.database.windows.net,1433;Initial Catalog=ManicureEmCasaApi20180225055850_db;User Id=jaqueline@manicureemcasaapi20180225055850dbserver;Password=j@qUe7509</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>